       :root {
          --orange: #d68100;
          --darkgray: #181818;
          --logofont: "Lato";
          --gray: #7a7a7a;
      }
      
      body {
          font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
      }
      
      .infographics {
          display: grid;
          grid-template-columns: 100%;
          justify-items: center;
          width: 100%;
          background-color: var(--darkgray);
          color: white;
          border-color: var(--orange);
          border-style: solid;
          border-width: 3px 0 0 0;
      }
      
      .happenings {
          width: 100%;
          background-color: var(--orange);
      }
      
      .events {
          margin-top: 40px;
          display: flex;
          justify-content: center;
          width: 100%;
          flex-wrap: wrap;
          gap: 20px;
      }
      
      .event {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 50px 100px;
          width: 300px;
          border-style: solid;
          border-width: 2px;
          border-color: var(--darkgray);
          border-radius: 5px;
      }
      
      .calendardate {
          font-size: 30px;
          font-weight: 500;
          background-color: var(--darkgray);
          color: white;
          display: grid;
          grid-template-columns: 1fr;
          align-items: center;
          justify-items: center;
          text-transform: uppercase;
      }
      
      .aboutevent {
          padding: 10px;
          color: white;
          font-size: 20px;
      }
      
      .eventtitle {
          font-family: var(--logofont);
          font-size: 60px;
          text-align: center;
          color: var(--darkgray);
          padding-top: 35px;
      }
      
      .fourthpage {
          width: 100vw;
          height: 100vh;
          background-color: whitesmoke;
      }